@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal {
  border-top: 2px solid #4caf50;
  width: 100%;
}

.vertical {
  border-left: 2px solid #4caf50;
  height: 100px;
}

.line {
  position: relative;
}
